.root{
    -fx-background-image:url(../MultimediaResources/bgAddStudentCommon.png);
    -fx-background-size:1355 713;
}


.combo-box:center-aligned>.list-cell {
    -fx-alignment: center;
}

.submitBtn{
    -fx-background-color:#22CB5C;
    -fx-background-radius:8;
}
.submitBtn:hover{
    -fx-background-color:#D82E2F;
}