

.text-area .content {
    -fx-background-image:url(../MultimediaResources/pkroylogo2.png);
    -fx-background-size:200px 200px;
    -fx-background-repeat:no-repeat;
     -fx-background-position: center center;
     
    
}
