.root{
    -fx-background-image:url(../MultimediaResources/bgForgotPassword.png); 
    background-repeat: no-repeat;
    -fx-background-size: 1000px 530px;
    /*-fx-background-size: cover;*/
}

.forgotPasswordBtn{
    -fx-background-radius:10px;
    -fx-background-color:#9424F0;
}
